
        <!-- <span class="spacer"></span>
        <mat-icon (click)="unmute()" *ngIf="isMute">volume_off</mat-icon>
        <mat-icon (click)="mute()" *ngIf="!isMute">volume_up</mat-icon>
        <mat-slider type="range"  min="0" max="1" step="0.01" [value]="0.5" (input)="setVolume($event)" [disabled]="isMute? true:false"> </mat-slider>
     -->
<div [ngClass]="themeModeService.darkMode? 'dark-container':'light-container'" (scroll)="onScroll($event)">
 <mat-toolbar class="main-toolbar" *ngIf="!searchClicked" [class.main-toolbar-hide]="hideMainToolbar">
  <span routerLink="/" style="cursor: pointer;">Audio Player</span>
  <span class="spacer"></span>
  <mat-icon mat-list-icon (click)="searchClicked=!searchClicked" style="cursor:pointer">search</mat-icon>
  <mat-icon mat-list-icon (click)="switchTheme()" *ngIf="themeModeService.darkMode" style="margin-left: 5px;cursor:pointer">light_mode</mat-icon>
  <mat-icon mat-list-icon (click)="switchTheme()" *ngIf="!themeModeService.darkMode" style="margin-left: 5px;cursor:pointer">dark_mode</mat-icon>
  
</mat-toolbar>
<mat-toolbar class="main-toolbar" *ngIf="searchClicked" [class.main-toolbar-hide]="hideMainToolbar">
  <mat-icon mat-list-icon>search</mat-icon>
  <input matInput class="form-control" type="text" name="songName" [(ngModel)] ='songName' 
     (ngModelChange)="search($event)" [matAutocomplete]="auto" placeholder="Search song or artist" >
  <mat-icon mat-list-icon (click)="searchClicked=!searchClicked"style="margin-left: 5px;cursor:pointer">close</mat-icon>
</mat-toolbar>
<mat-autocomplete #auto="matAutocomplete">
  <mat-list>
  <mat-option *ngFor="let file of searchFile" (click)="openFile(file)" [value]="file.name">
      <mat-list-item >
      <h4 mat-line>{{ file.name }}</h4>
      <span style="font-size: 10px;">({{file.album_title}})</span>
      <mat-icon *ngIf="audioService.currentFile._id == file._id && !state?.error && audioService.currentFile.name!='' && state?.readableCurrentTime">volume_up</mat-icon>
      <h6 *ngIf="currentFile.index === file._id && state?.error">ERROR</h6>
      <mat-divider></mat-divider>
      </mat-list-item>
  </mat-option>
</mat-list>
</mat-autocomplete>

 <router-outlet></router-outlet>
 
<div class="media-footer" *ngIf="audioService.currentFile.name" style="display: flex; flex-direction:column;">
    <!-- <div class="media-action-bar" > -->
      <div style="display: flex; flex-direction:row;justify-content:center; padding-top:2px">
      {{ state?.readableCurrentTime }}
    <mat-slider class="time-slider" min="0" [max]="state?.duration"  step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || !state?.readableDuration "></mat-slider>
    {{ state?.readableDuration }}
      </div>
      <div class="media-action-bar" style=" display: flex; flex-direction:row; justify-content:center">
        
          <button  mat-button [disabled]="state?.error" (click)="previous()">
            <mat-icon mat-list-icon>skip_previous</mat-icon>
          </button>
          
          
    
          <button mat-button (click)="play()" [disabled]="state?.error " *ngIf="!state?.playing">
            <mat-icon mat-list-icon>play_circle_filled</mat-icon>
          </button>
    
          <button mat-button (click)="pause()" [disabled]="state?.error || !state?.playing" *ngIf="state?.playing">
            <mat-icon mat-list-icon>pause</mat-icon>
          </button>
          <!-- <mat-spinner *ngIf="state?.load"></mat-spinner> -->
    
          <button  mat-button [disabled]="state?.error" (click)="next()">
            <mat-icon mat-list-icon>skip_next</mat-icon>
          </button>
          
      </div>

      
    <!-- </div> -->
</div>
</div>