/* You can add global styles to this file, and also import other style files */

$light-white:#ffffffd2;
$light-black:#000;
$light-blue: #6cc1e9;
$light-grey:#5f5f5f;
$light-pink: #FC427B;
$light-red: #e73535;
$light-green: #4DED30;
$light-green2: #26D701;

$dark-black: #14121f;
$dark-light: #211f30;
$dark-green: #00AB08;

// $hover-bg: 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .container{
//     background-color: #bdbdbd !important;
// }

//    {
    //   "src": "assets/icons/icon-192x192.png",
    //   "sizes": "192x192",
    //   "type": "image/png",
    //   "purpose": "maskable any"
    // },